.App {
  background: #eee;
  .chart{
    svg{
    }
    path{
      cursor: pointer;
      fill: blue;
      opacity: 0.5;
    }
    text{
      dominant-baseline: hanging;
    }
    .probBackground{
      fill: lightGrey;
    }
    .actualProb{
      fill: blue;
    }
    .probNumber{
      fill: grey;
    }
    .row{
      margin-bottom: 5px;
    }
    .currentScore{
      display: flex;
      color: grey;
    }
    .slot{
      height: 30px;
      width: 6px;
      background: lightGrey;
      position: relative;
      margin-right: 3px;
      span{
        background: blue;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}
